/**
 Custom css

*/

.navbar-brand img {

	width: 90px;
	height: auto;
}

.who img {

	width: 90px;
	height: auto;
}




.intro {
  position: relative;
  height: auto;
  transform: translateZ(0);
  background-image: linear-gradient(35deg, #8DD9FF, #FFDA00);
}
.intro img {
  position: relative;
  display: block;
  width: 100%;
  height: auto;
  z-index: 1;
  mix-blend-mode: multiply;
}

.intro .caption {
  position: absolute;
  bottom: 25%;
  left: 0;
  width: 100%;
  text-align: center;
  z-index: 3;
  color: white;
}
.intro .caption h1 {
  display: inline-block;
  width: 70%;
  font-size: 6vw;
  font-weight: 100;
}

.intro .overlay {
  position: absolute;
  bottom: -2px;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
  pointer-events: none;
}
.intro .overlay svg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.copy {
  width: 100%;
  max-width: 60rem;
  height: 200%;
  margin: 0 auto;
  padding: 10vw 5vw 0 5vw;
  color: #476d80;
  font-weight: 300;
}
.copy p {
  margin-bottom: 1.5rem;
}

.copy .teaser {
  font-size: 1.6rem;
  text-align: center;
}
/*New section*/
.sec-heading {
    margin-bottom: 2rem;
}
.sec-heading.lg {
    margin-bottom: 30px;
}
.sec-heading.center {
    text-align: center;
}
.sec-heading h2, .sec-heading p {
    margin-bottom: 5px;
}
.sec-heading.light h2, .sec-heading.light p {
    color: #fff;
}
.color-heading .sec-heading h2 {
    color: #d70040;
}
.sec-heading p {
    margin-bottom: 0;
    line-height: 1.2;
}
.sec-heading-flex {
    display: flex;
    width: 100%;
    margin-bottom: 1.5rem;
    align-items: center;
    position: relative;
}
.sec-heading-flex-one {
    flex: 1;
}
.sec-heading-flex-one h2 {
    margin-bottom: 0;
    font-size: 22px;
    font-family: 'Playfair Display', serif;
}
.sec-heading h2 {
    font-family: 'Playfair Display', serif;
}

.edu_cat_2 {
    width: 100%;
    margin-bottom: 25px;
    border-radius: .4rem;
    background: #f4f5f7;
    padding: 1.5rem 1rem;
    display: flex;
    align-items: center;
    cursor: pointer;
    transition: all ease .4s;
}
.edu_cat_2:focus, .edu_cat_2:hover {
    box-shadow: 0 0 20px rgba(0, 0, 0, .075);
    -webkit-box-shadow: 0 0 20px rgba(0, 0, 0, .075);
}
.edu_cat_icons {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
}
.edu_cat_icons img {
    max-width: 40px;
}
.edu_cat_data {
    padding-left: 15px;
}
.edu_cat_data h4 {
    font-size: 17px;
    margin-bottom: 4px;
}
.edu_cat_data ul li i {
    margin-right: 6px;
}
.edu_cat_2.cat-1 {
    background: rgba(0, 173, 182, .1);
}
.edu_cat_2.cat-1 h4>a {
    color: #00adb6;
}
.edu_cat_2.cat-2 {
    background: rgba(247, 179, 32, .1);
}
.edu_cat_2.cat-2 h4>a {
    color: #f7b320;
}
.edu_cat_2.cat-3 {
    background: rgba(241, 7, 80, .1);
}
.edu_cat_2.cat-3 h4>a {
    color: #f10750;
}
.edu_cat_2.cat-4 {
    background: rgba(154, 222, 69, .1);
}
.edu_cat_2.cat-4 h4>a {
    color: #9ade45;
}
.edu_cat_2.cat-5 {
    background: rgba(247, 179, 32, .1);
}
.edu_cat_2.cat-5 h4>a {
    color: #f7b320;
}
.edu_cat_2.cat-6 {
    background: rgba(185, 95, 253, .1);
}
.edu_cat_2.cat-6 h4>a {
    color: #b95ffd;
}
.edu_cat_2.cat-7 {
    background: rgba(236, 80, 152, .1);
}
.edu_cat_2.cat-7 h4>a {
    color: #ec5098;
}
.edu_cat_2.cat-8 {
    background: rgba(37, 165, 95, .1);
}
.edu_cat_2.cat-8 h4>a {
    color: #25a55f;
}
.edu_cat_2.cat-9 {
    background: rgba(234, 105, 13, .1);
}
.edu_cat_2.cat-9 h4>a {
    color: #ea690d;
}
.edu_cat_2.cat-10 {
    background: rgba(13, 214, 234, .1);
}
.edu_cat_2.cat-10 h4>a {
    color: #0dd6ea;
}
.edu_cat_icons {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
}
.edu_cat_icons img {
    max-width: 40px;
}

.edu_cat .pic>.pic-main {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1;
    background: center center no-repeat;
    background-size: cover;
}

